/resources/public/js/
figwheel_server.log
*jar
/lib/
/classes/
/out/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
.rebel_readline_history
.lein-failures
.dir-locals.el
*txt
.lsp/*
*json
*yaml
data/*json
todo.org
.eastwood
.cpcache/
resources/public/images/*svg
